:root {
  --container-bg-color: #25223c; /* Default background color */
}

.h3 {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--container-bg-color); /* Use the CSS variable */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #445065;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #332b45;
}

.details-page {
  text-align: center;
}

.back-button {
  padding: 10px 20px;
  font-size: 5px;
  font-weight: bold;
  background-color: #445065;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #332b45;
}

/* Responsive Design for screens 600px or smaller */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
  }

  .image {
    width: 80px;
    height: 80px;
  }

  .sort-button, .back-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.grid.one-column {
  grid-template-columns: 1fr; /* Single column layout */
}

.grid.two-columns {
  grid-template-columns: repeat(2, 1fr); /* Two column layout */
}

.sort-buttons {
  display: flex;
  gap: 90px; /* Space between the buttons */
  margin: 10px 0;
}

.sort-button {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 8px;
  font-weight: bold;
  background-color: #302640;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #201e28;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}